<!doctype html>
<html xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>舆情检测分析系统</title>
    <link href="{{ url_for('static', filename = 'css/font-awesome.min.css') }}" rel="stylesheet" type="text/css">
    <link href="{{ url_for('static', filename = 'css/freeue.css') }}" rel="stylesheet" type="text/css">
</head>

<body>
    <!--=============================导航栏================================-->
    <header id="js-header" class="mala-header mala-header-fix">
        <div class="mala-clearfix">
            <!--=============================右侧的个人中心================-->
            <a href="{{ url_for('index.index') }}" class="mala-logo mala-fl"></a>
            <div class="mala-user-info mala-fr js-header-dropmenu">
                <span class="mala-username">Hi, 赵祥麟!<i class="mala-arrow mala-arrow-down  mala-ml"></i>
                <!--=====================js/common.js中控制下拉菜单========-->
                </span>
                <ul class="mala-header-dropdown-list js-header-list">
                    <li class="mala-header-dropdown-item"><a href="mala-0202.html" class="mala-link">个人中心</a>  <i class="mala-arrow mala-arrow-up" style="right:10px;"></i>
                    </li>
                    <li class="mala-header-dropdown-item"><a href="mala-0202.html" class="mala-link">退出</a>
                    </li>
                </ul>
            </div>
            <!--=====================mala-avatar控制头像=============-->
            <span class="mala-avatar mala-fr">
                <img src="images/demo-photo.jpg">
            </span>
            <!--=====================导航栏中间的4个按钮=============-->
            <nav class="mala-fr">
                <ul class="mala-nav-list mala-clearfix">
                    <form class="mala-search-bar" name="search" method="post" action="{{ url_for('search.additem') }}">
                        <li class="mala-nav-item mala-fl">
                            <input type="text" name ="keyword" class="mala-input mala-input-large mala-mr" placeholder="请输入关键字">
                        </li>
                        <li class="mala-nav-item mala-fl">
                            <button class="mala-btn mala-btn-danger" style="margin-top: -2px" type="submit">搜 索</button>
                        </li>
                    </form>
                </ul>
            </nav>
        </div>
    </header>
    <!--=====================左侧栏,js代码在/js/common.js=============-->
    <nav id="js-aside" class="mala-aside">
        <h3 class="mala-subnavi-title">舆情监测</h3>
        <ul class="mala-subnavi-list">
            <li class="mala-subnavi-item">
                <a href="{{ url_for('index.index') }}" class="mala-subnavi-link"> <i class="fa fa-taxi fa-fw"></i> </i>舆情概况</a>
            </li>
            <li class="mala-subnavi-item">
                <div class="mala-subnavi-lead mala-clearfix"> <i class="fa fa-exchange fa-fw"></i> 舆情分析
                    <span class="mala-arrow mala-arrow-down mala-fr"></span>
                </div>
                <ul class="mala-thirdnavi-list">
                    <li class="mala-thirdnavi-item"> <a href="{{ url_for('analysis.index') }}" class="mala-thirdnavi-link">新闻舆情</a>
                    </li>
                    <li class="mala-thirdnavi-item"> <a href="{{ url_for('analysis.wechatindex') }}" class="mala-thirdnavi-link">微信舆情</a>
                    </li>
                    <li class="mala-thirdnavi-item"> <a href="" class="mala-thirdnavi-link">微博舆情</a>
                    </li>
                </ul>
            </li>
            <li class="mala-subnavi-item">
                <div class="mala-subnavi-lead mala-clearfix"> <i class="fa fa-coffee fa-fw"></i> 关键字舆情
                    <span class="mala-arrow mala-arrow-down mala-fr"></span>
                </div>
                <ul class="mala-thirdnavi-list">
                    <li class="mala-thirdnavi-item"> <a href="" class="mala-thirdnavi-link">分类统计</a></li>
                    <li class="mala-thirdnavi-item"> <a href="{{ url_for('search.index',page=1) }}" class="mala-thirdnavi-link">关键字列表</a></li>
                </ul>
            </li>
            <li class="mala-subnavi-item">
                <div class="mala-subnavi-lead mala-clearfix"> <i class="fa fa-database fa-fw"></i> 系统设置
                    <span class="mala-arrow mala-arrow-down mala-fr"></span>
                </div>
                <ul class="mala-thirdnavi-list">
                    <li class="mala-thirdnavi-item"> <a href="" class="mala-thirdnavi-link">字典设置</a>
                    </li>
                    <li class="mala-thirdnavi-item"> <a href="" class="mala-thirdnavi-link">人工纠正</a>
                    </li>
                </ul>
            </li>
        </ul>
        <h3 class="mala-subnavi-title">系统设置</h3>
        <ul class="mala-subnavi-list">
            <li class="mala-subnavi-item">
                <div class="mala-subnavi-lead mala-clearfix"> <i class="fa fa-rss-square fa-fw"></i> RSS源设置
                    <span class="mala-arrow mala-arrow-down mala-fr"></span>
                </div>
                <ul class="mala-thirdnavi-list">
                    <li class="mala-thirdnavi-item"> <a href="{{ url_for('rss.index', page=1) }}" class="mala-thirdnavi-link">RSS源列表</a>
                    </li>
                    <li class="mala-thirdnavi-item"> <a href="{{ url_for('rss.show_content', page=1) }}" class="mala-thirdnavi-link">RSS内容列表</a>
                    </li>
                    <li class="mala-thirdnavi-item"> <a href="" class="mala-thirdnavi-link">停止抓取</a>
                    </li>
                </ul>
            </li>
            <li class="mala-subnavi-item">
                <a href="" class="mala-subnavi-link"> <i class="fa fa-weibo"></i>微博源数据</a>
            </li>
            <li class="mala-subnavi-item">
                <a href="" class="mala-subnavi-link"> <i class="fa fa-wechat"></i>微信源数据</a>
            </li>
            <li class="mala-subnavi-item">
                <a href="" class="mala-subnavi-link"> <i class="fa fa-book"></i>情感字典</a>
            </li>
            <li class="mala-subnavi-item">
                <a href="" class="mala-subnavi-link"> <i class="fa fa-list-ul"></i>历史记录</a>
            </li>



        </ul>
    </nav>
    <!--=========主内容区=======-->

    {% block content %}{% endblock %}

    <!-- 控制左侧栏的隐藏和显示 -->
    <div class="mala-aside-opt">
        <a href="#" class="" id="mala-aside-hide">
            <i class="fa fa-arrow-left"></i>
        </a>
        <a href="#" class="" id="mala-aside-show" style="display:none">
            <i class="fa fa-arrow-right"></i>
        </a>
    </div>
    {% block js %}
    <script src="{{ url_for('static', filename = 'js/jquery-1.11.0.min.js') }}"></script>
    <!-- 主要用户左侧栏的下拉效果和导航栏的下拉 -->
    <script src="{{ url_for('static', filename = 'js/common.js') }}"></script>
    {% endblock %}
</body>

</html>
