{% extends "base.html" %}
{% import "_macros.html" as macros %}
{% block content %}
<section class="mala-content">
        <h1 class="mala-title-bar">情感字典</h1>
        <ul class="mala-tab-navi-bar mala-clearfix">
            <li class="mala-tab-navi-item mala-fl mala-mr active">情感字典列表</li>
        </ul>
        <div class="mala-container-fluid">
            <div class="mala-list-bar">
                <table id="js-mytable" class="mala-table">
                    <thead>
                        <tr>
                            <th class="mala-th">ID</th>
                            <th class="mala-th">情感词</th>
                            <th class="mala-th">极性</th>
                            <th class="mala-th">强度</th>
                            <th class="mala-th">词义</th>
                            <th class="mala-th">词性</th>
                            <th class="mala-th">情感分类</th>
                        </tr>
                    </thead>
                    <tbody>
                    {% for word in words %}
                            <tr class="mala-tr">
                            <td class="rname mala-td">{{ word.id }}</td>
                            <td class="rname mala-td">{{ word.dword }}</td>
                            <td class="rtype mala-td">{{ word.dpolar }}</td>
                            <td class="rfrom mala-td">{{ word.dstength }}</td>
                            <td class="rfrom mala-td">{{ word.dwordmeans }}</td>
                            <td class="rfrom mala-td">{{ word.dwordtype }}</td>
                            <td class="rfrom mala-td">{{ word.demotiontype }}</td>
                        </tr>
                      {% endfor %}
                    </tbody>
                </table>
            </div>

            <div class="mala-pager">
                <!--=====================页数======================-->
               {% macro render_pagination(pagination, endpoint) %}
                  <div class="pagination mala-pager">
                  {%- for page in pagination.iter_pages() %}
                    {% if page %}
                      {% if page != pagination.page %}
                        <a href="{{ url_for(endpoint,page=page) }}" class="mala-paginate-link">{{ page }}</a>
                      {% else %}
                        <a class="mala-paginate-link active" href="#">{{ page }}</a>
                      {% endif %}
                    {% else %}
                      <span class=ellipsis>…</span>
                    {% endif %}
                  {%- endfor %}
                  </div>
                {% endmacro %}
                {{ macros.render_pagination(pagination,'rss.dictlist') }}
            </div>

        </div>
    </section>
    {% endblock %}
    {% block js %}
        {{ super() }}
        <!-- bootstrap的modal.js，控制弹窗 -->
        <script src="{{ url_for('static', filename = 'js/modal.js') }}"></script>

    {% endblock %}