{% extends "base.html" %}
{% block content %}
    <section class="mala-content">
        <h1 class="mala-title-bar">系统概况</h1>
        <div class="mala-overview-bar">
            <div class="mala-welcome">你好！欢迎使用舆情分析系统。</div>
            <div class="mala-login-time">登录时间：
                <time>{{ timenow }}</time>
            </div>
            <div class="mala-statistic-list">
                <div class="mala-row">
                    <div class="mala-col-md-2">
                        <div class="mala-statistic-item">
                            <span class="mala-circle-title">{{ info['wechat'] }}</span>
                            <br>
                            <span class="mala-circle-desc">微信数据</span>
                        </div>
                    </div>
                    <div class="mala-col-md-2">
                        <div class="mala-statistic-item">
                            <span class="mala-circle-title">4436</span>
                            <br>
                            <span class="mala-circle-desc">微博数据</span>
                        </div>
                    </div>
                    <div class="mala-col-md-2">
                        <div class="mala-statistic-item">
                            <span class="mala-circle-title">{{ info['today'] }}</span>
                            <br>
                            <span class="mala-circle-desc">今日入库</span>
                        </div>
                    </div>
                    <div class="mala-col-md-2">
                        <div class="mala-statistic-item">
                            <span class="mala-circle-title">{{ info['rss'] }}</span>
                            <br>
                            <span class="mala-circle-desc">RSS源总数据</span>
                        </div>
                    </div>
                    <div class="mala-col-md-2">
                        <div class="mala-statistic-item">
                            <span class="mala-circle-title">{{ info['dict'] }}</span>
                            <br>
                            <span class="mala-circle-desc">字典数据</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="mala-container-fluid">
            <div class="mala-row">
                <div class="mala-col-md-6">
                    <div class="mala-panel">
                        <div class="mala-panel-heading mala-clearfix"> <a href="#" class="mala-fr mala-panel-more">更多</a>
                            <h3 class="mala-panel-title">新闻动态</h3>
                        </div>
                        <div class="mala-panel-body">
                            <ul class="mala-list">
                                {% for new in news %}
                                    <li class="mala-list-item">
                                        <span class="mala-list-time mala-fr">{{ new.rpublished }}</span>
                                        <span class="mala-list-title"><a href="{{ new.rlink }}">[{{ new.rtype }}]{{ new.rtitle }}</a></span>
                                    </li>
                                {% endfor %}

                            </ul>
                        </div>
                    </div>
                </div>
                <!--=====================访问统计表格使用echarts,具体看js/echarts.js=============-->
                <div class="mala-col-md-6">
                    <div class="mala-panel">
                        <div class="mala-panel-heading mala-clearfix">
                            <h3 class="mala-panel-title">今日舆情概况</h3>
                        </div>
                        <div class="mala-panel-body">
                            <div id="indexopiniongauge" class="mala-echarts-normal "></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="mala-row">
                <div class="mala-col-md-6">
                    <div class="mala-panel">
                        <div class="mala-panel-heading mala-clearfix">
                            <h3 class="mala-panel-title">微信动态</h3>
                        </div>
                        <div class="mala-panel-body">
                            <ul class="mala-list">
                                {% for wechat in wechats %}
                                    <li class="mala-list-item">
                                        <span class="mala-list-time mala-fr">{{ wechat.date }}</span>
                                        <span class="mala-list-title"><a href="{{ wechat.link }}">[微信]{{ wechat.title|truncate(length = 33, end ="...") }}</a></span>
                                    </li>
                                {% endfor %}

                            </ul>
                        </div>
                    </div>
                </div>
                <div class="mala-col-md-6">
                    <div class="mala-panel">
                        <div class="mala-panel-heading mala-clearfix">
                            <h3 class="mala-panel-title">舆情走势</h3>
                        </div>
                        <div class="mala-panel-body">
                            <div id="indexopinionline" class="mala-echarts-normal "></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}
{% block js %}
    {{ super() }}
    <!-- 加载图表 -->
    <script src="{{ url_for('static', filename = 'js/echarts.js') }}"></script>
    <script src="{{ url_for('static', filename = 'js/echarts-sample.js') }}"></script>
    <script type="text/javascript">
        // 路径配置
        require.config({
            paths: {
                echarts: "{{ url_for('static', filename = 'js/') }}"
            }
        });

        // 使用
        require(
            [
                'echarts',
                'echarts/chart/gauge', // 使用柱状图就加载bar模块，按需加载
                'echarts/chart/line',
                'echarts/chart/bar',
            ],
            function (ec) {
                fillIndexOpinionGauge(ec,"/ajax/indexguage/");
                fillIndexOpinionLine(ec, "/ajax/indexline/");

            }
        );

    </script>
{% endblock %}