{% extends "base.html" %}
{% import "_macros.html" as macros %}
{% block content %}
<section class="mala-content">
        <h1 class="mala-title-bar">RSS源设置</h1>
        <ul class="mala-tab-navi-bar mala-clearfix">
            <li class="mala-tab-navi-item mala-fl mala-mr active"><a class="mala-btn mala-btn-primary mala-btn" data-toggle="modal" data-target="#malaModal">新建RSS源</a></li>
        </ul>
        <div class="mala-container-fluid">
            <div class="mala-list-bar">
                <table id="js-mytable" class="mala-table">
                    <thead>
                        <tr>
                            <th class="mala-th" width="10%">RSS名称</th>
                            <th class="mala-th" width="10%">所属类别</th>
                            <th class="mala-th" width="10%">RSS来源</th>
                            <th class="mala-th">RSS地址</th>
                            <th class="mala-th" width="20%">最后更新时间</th>
                            <th class="mala-th" width="13%">操作</th>
                        </tr>
                    </thead>
                    <tbody>
                    {% for rssfeed in rssfeeds %}
                        <tr class="mala-tr" id="{{ rssfeed.id }}">
                            <td class="rname mala-td">{{ rssfeed.rname }}</td>
                            <td class="rtype mala-td">{{ rssfeed.rtype }}</td>
                            <td class="rfrom mala-td">{{ rssfeed.rfrom }}</td>
                            <td class="rfeed mala-td mala-td-title"><a href="{{ rssfeed.rfeed }}">{{ rssfeed.rfeed }}</a>
                            </td>
                            <td class="rdate mala-td">{{ rssfeed.rdate }}</td>
                            <td class="mala-td">
                            <a href="" class="mala-mr js-edit" data-toggle="modal"  onclick="javascript:edit('{{ rssfeed.id }}')">编辑</a>
                            <a href="{{ url_for('rss.delete_rssfeed',id=rssfeed.id)}}">删除</a>
                            </td>
                        </tr>
                      {% endfor %}
                    </tbody>
                </table>
            </div>

            <div class="mala-pager">
                <!--=====================页数======================-->
               {% macro render_pagination(pagination, endpoint) %}
                  <div class="pagination mala-pager">
                  {%- for page in pagination.iter_pages() %}
                    {% if page %}
                      {% if page != pagination.page %}
                        <a href="{{ url_for(endpoint,page=page) }}" class="mala-paginate-link">{{ page }}</a>
                      {% else %}
                        <a class="mala-paginate-link active" href="#">{{ page }}</a>
                      {% endif %}
                    {% else %}
                      <span class=ellipsis>…</span>
                    {% endif %}
                  {%- endfor %}
                  </div>
                {% endmacro %}
                {{ macros.render_pagination(pagination,'rss.index') }}
            </div>

        </div>
    </section>

    <!--==============================增加弹出框=========================-->
    <div class="mala-modal fade" id="malaModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="mala-modal-dialog">
            <div class="mala-modal-content">
                <div class="mala-modal-header">
                    <!--==================弹出窗口头部=================-->
                    <!--==================&times为x====================-->
                    <button type="button" class="close" data-dismiss="modal">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h4 class="mala-modal-title" id="myModalLabel">新建RSS源</h4>
                </div>
                <div class="mala-modal-body">
                    <!--===================把弹出内容的html代码在这里===================-->
                    <form class="mala-form" method="post" action="{{ url_for('rss.index',page=1) }}">
                        <div class="mala-form-item mala-row">
                            <div class="mala-col-md-3">
                                <label for="" class="mala-label mala-form-fix">
                                    <span class="mala-required">*</span>RSS来源</label>
                                    {{ form.hidden_tag() }}
                            </div>
                            <div class="mala-col-md-6">

                                {{ form.rfrom(type="text",class="mala-input mala-form-control") }}
                            </div>
                        </div>
                        <div class="mala-form-item mala-row">
                            <div class="mala-col-md-3">
                                <label for="" class="mala-label mala-form-fix">
                                    <span class="mala-required">*</span>RSS类型</label>
                            </div>
                            <div class="mala-col-md-6">
                                    {{ form.rtype(class="mala-select mala-form-control")}}
                            </div>
                        </div>
                        <div class="mala-form-item mala-row">
                            <div class="mala-col-md-3">
                                <label for="" class="mala-lab el mala-form-fix">
                                    <span class="mala-required">*</span>RSS名称</label>
                            </div>
                            <div class="mala-col-md-6">
                                {{ form.rname(type="text",class="mala-input mala-form-control") }}
                            </div>
                        </div>
                        <div class="mala-form-item mala-row">
                            <div class="mala-col-md-3">
                                <label for="" class="mala-label mala-form-fix">
                                    <span class="mala-required">*</span>RSS地址</label>
                            </div>
                            <div class="mala-col-md-6">
                                {{ form.rfeed(type="text",class="mala-input mala-form-control") }}
                            </div>
                        </div>
                        <div class="mala-modal-footer">
                    <button type="button" class="mala-btn mala-btn-default mala-btn-wide mala-mr" data-dismiss="modal">取消</button>
                    {{ form.rsubmit(class="mala-btn mala-btn-primary mala-btn-wide")}}
                </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <!--==============================编辑弹出框=========================-->
    <div class="mala-modal fade" id="editwindow" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="mala-modal-dialog">
            <div class="mala-modal-content">
                <div class="mala-modal-header">
                    <!--==================弹出窗口头部=================-->
                    <!--==================&times为x====================-->
                    <button type="button" class="close" data-dismiss="modal">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h4 class="mala-modal-title" id="myModalLabel">编辑RSS源</h4>
                </div>
                <div class="mala-modal-body">
                    <!--===================把弹出内容的html代码在这里===================-->
                    <form class="mala-form" method="post" action="{{ url_for('rss.edit_rssfeed') }}">
                        <div class="mala-form-item mala-row">
                            <div class="mala-col-md-3">
                                <label for="" class="mala-label mala-form-fix">
                                    <span class="mala-required">*</span>RSS来源</label>
                                    {{ form.hidden_tag() }}
                                    <input name="itemid" type="hidden" value="" id="edit_id"/>
                            </div>
                            <div class="mala-col-md-6">
                                {{ form.rfrom(type="text",class="mala-input mala-form-control",value="",id="edit_from") }}
                            </div>
                        </div>
                        <div class="mala-form-item mala-row">
                            <div class="mala-col-md-3">
                                <label for="" class="mala-label mala-form-fix">
                                    <span class="mala-required">*</span>RSS类型</label>
                            </div>
                            <div class="mala-col-md-6">
                                    {{form.rtype(class="mala-select mala-form-control",value="",id="edit_type")}}
                            </div>
                        </div>
                        <div class="mala-form-item mala-row">
                            <div class="mala-col-md-3">
                                <label for="" class="mala-label mala-form-fix">
                                    <span class="mala-required">*</span>RSS名称</label>
                            </div>
                            <div class="mala-col-md-6">
                                {{ form.rname(type="text",class="mala-input mala-form-control",value="",id="edit_name") }}
                            </div>
                        </div>
                        <div class="mala-form-item mala-row">
                            <div class="mala-col-md-3">
                                <label for="" class="mala-label mala-form-fix">
                                    <span class="mala-required">*</span>RSS地址</label>
                            </div>
                            <div class="mala-col-md-6">
                                {{ form.rfeed(type="text",class="mala-input mala-form-control",value="",id="edit_feed") }}
                            </div>
                        </div>
                        <div class="mala-modal-footer">
                    <button type="button" class="mala-btn mala-btn-default mala-btn-wide mala-mr" data-dismiss="modal">取消</button>
                    {{ form.rsubmit(class="mala-btn mala-btn-primary mala-btn-wide")}}
                </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

    {% endblock %}
    {% block js %}
        {{ super() }}
        <!-- bootstrap的modal.js，控制弹窗 -->
        <script src="{{ url_for('static', filename = 'js/modal.js') }}"></script>
        <script>
            function edit(id){
                $('#editwindow').modal('toggle');
                $('#edit_id').val(id);
                $('#edit_type').val($('#'+id).children('.rtype').text());
                $('#edit_from').val($('#'+id).children('.rfrom').text());
                $('#edit_name').val($('#'+id).children('.rname').text());
                $('#edit_feed').val($('#'+id).children('.rfeed').children('a').text());
            }
        </script>
    {% endblock %}