{% extends "base.html" %}
{% block content %}
<section class="mala-content">
        <h1 class="mala-title-bar">RSS内容列表</h1>
        <ul class="mala-tab-navi-bar mala-clearfix">
            <li class="mala-tab-navi-item mala-fl mala-mr active">RSS源查询</li>
        </ul>
        <div class="mala-container-fluid">
            <div class="mala-search-bar">
                <select name="" class="mala-select mala-mr">
                    <option value="">请选择分类</option>
                </select>
                <select name="" class="mala-select mala-mr">
                    <option value="">请选择分类</option>
                </select>
                <input type="text" class="mala-input mala-input-large mala-mr" placeholder="请输入关键字"><a class="mala-btn mala-btn-default mala-btn-small ">搜索</a> 
            </div>
            <div class="mala-opt-bar mala-clearfix">
                <div class="mala-btn-group mala-mr"><a class="mala-btn mala-btn-primary mala-btn" data-toggle="modal" data-target="#malaModal">新建RSS源</a>
                </div>
                <div class="mala-fake-select mala-fr">
                    <span class="mala-select-title js-fake-select">筛选项目</span> <i class="mala-arrow mala-arrow-down"></i>
                    <ul class="mala-select-list js-list">
                        <li class="mala-select-item js-select-item active">筛选项目</li>
                        <li class="mala-select-item js-select-item">发生的发生</li>
                        <li class="mala-select-item js-select-item">发生的发生</li>
                    </ul>
                    <ul class="mala-select-list-fix">
                        <li class="mala-select-item">筛选项目</li>
                        <li class="mala-select-item">发生的发生</li>
                        <li class="mala-select-item">发生的发生</li>
                    </ul>
                </div>
            </div>
            <div class="mala-list-bar">
                <table id="js-mytable" class="mala-table">
                    <thead>
                        <tr>
                            <th class="mala-th" width="5%">
                                <input type="checkbox" class="mala-ml-small">
                            </th>
                            <th class="mala-th">标题</th>
                            <th class="mala-th" width="10%">摘要</th>
                            <th class="mala-th" width="10%"></th>
                            <th class="mala-th" width="10%">RSS来源</th>
                            <th class="mala-th" width="20%">加入时间</th>
                            <th class="mala-th" width="13%">操作</th>
                        </tr>
                    </thead>
                    <tbody>
                    {% for rssfeed in rssfeeds %}
                        <tr class="mala-tr">
                            <td class="mala-td">
                                <input type="checkbox" class="mala-ml-small">
                            </td>
                            <td class="mala-td mala-td-title"><a href="">{{ rssfeed.rfeed }}</a>
                            </td>
                            <td class="mala-td">{{ rssfeed.rname }}</td>
                            <td class="mala-td">{{ rssfeed.rtype }}</td>
                            <td class="mala-td">{{ rssfeed.rfrom }}</td>
                            <td class="mala-td">{{ rssfeed.rdate }}</td>
                            <td class="mala-td">
                            <a href="" class="mala-mr js-edit">编辑</a>
                            <a href="{{ url_for('main.rss_edit',id=rssfeed.pk)}}">删除</a>
                            </td>
                        </tr>
                      {% endfor %}
                    </tbody>
                </table>
            </div>
            <div class="mala-pager">
                <!--=====================页数======================-->
                <span class="mala-paginate-link">
                    <span class="mala-caret mala-caret-prev"></span>
                </span> <a href="" class="mala-paginate-link">1</a>  <a href="" class="mala-paginate-link">2</a>  <a href="" class="mala-paginate-link">3</a>  <a href="" class="mala-paginate-link">4</a>  <a href="" class="mala-paginate-link">5</a>  <a href="" class="mala-paginate-link active">6</a>  <a href="" class="mala-paginate-link">7</a>  <a href="" class="mala-paginate-link">8</a>  <a href="" class="mala-paginate-link">9</a> 
                <span class="mala-paginate-link">
                    <span class="mala-caret mala-caret-next"></span>
                </span>
            </div>
        </div>
    </section>

    <!--==============================弹出框=========================-->
    <div class="mala-modal fade" id="malaModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="mala-modal-dialog">
            <div class="mala-modal-content">
                <div class="mala-modal-header">
                    <!--==================弹出窗口头部=================-->
                    <!--==================&times为x====================-->
                    <button type="button" class="close" data-dismiss="modal">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h4 class="mala-modal-title" id="myModalLabel">编辑RSS源</h4>
                </div>
                <div class="mala-modal-body">
                    <!--===================把弹出内容的html代码在这里===================-->
                    <form class="mala-form" method="post" action="{{ url_for('main.rss_setting') }}">
                        <div class="mala-form-item mala-row">
                            <div class="mala-col-md-3">
                                <label for="" class="mala-label mala-form-fix">
                                    <span class="mala-required">*</span>RSS来源</label>
                                    {{ form.hidden_tag() }}
                            </div>
                            <div class="mala-col-md-6">

                                {{ form.rfrom(type="text",class="mala-input mala-form-control") }}
                            </div>
                        </div>
                        <div class="mala-form-item mala-row">
                            <div class="mala-col-md-3">
                                <label for="" class="mala-label mala-form-fix">
                                    <span class="mala-required">*</span>RSS类型</label>
                            </div>
                            <div class="mala-col-md-6">
                                    {{ form.rtype(class="mala-select mala-form-control")}}
                            </div>
                        </div>
                        <div class="mala-form-item mala-row">
                            <div class="mala-col-md-3">
                                <label for="" class="mala-label mala-form-fix">
                                    <span class="mala-required">*</span>RSS名称</label>
                            </div>
                            <div class="mala-col-md-6">
                                {{ form.rname(type="text",class="mala-input mala-form-control") }}
                            </div>
                        </div>
                        <div class="mala-form-item mala-row">
                            <div class="mala-col-md-3">
                                <label for="" class="mala-label mala-form-fix">
                                    <span class="mala-required">*</span>RSS地址</label>
                            </div>
                            <div class="mala-col-md-6">
                                {{ form.rfeed(type="text",class="mala-input mala-form-control") }}
                            </div>
                        </div>
                        <div class="mala-modal-footer">
                    <button type="button" class="mala-btn mala-btn-default mala-btn-wide mala-mr" data-dismiss="modal">取消</button>
                    {{ form.rsubmit(class="mala-btn mala-btn-primary mala-btn-wide")}}
                </div>
                    </form>
                </div>
        </div>
    </div>
    {% endblock %}
    {% block js %}
        {{ super() }}
        <!-- bootstrap的modal.js，控制弹窗 -->
        <script src="{{ url_for('static', filename = 'js/modal.js') }}"></script>

    {% endblock %}