{% extends "base.html" %}
{% block content %}
    <section class="mala-content">
        <ul class="mala-tab-navi-bar mala-clearfix">
            <li class="mala-tab-navi-item mala-fl mala-mr active">{{ keyword }}</li>
        </ul>
        <div class="mala-container-fluid">
        <div class="mala-row">
                <div class="mala-col-md-12">
                    <div class="mala-panel">
                        <div class="mala-panel-heading mala-clearfix">
                            <h3 class="mala-panel-title">关键词声量走势</h3>
                        </div>
                        <div class="mala-panel-body">
                            <div id="indexopinionline" class="mala-echarts-normal "></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="mala-row">
                <div class="mala-col-md-6">
                    <div class="mala-panel">
                        <div class="mala-panel-heading mala-clearfix">
                            <h3 class="mala-panel-title">关键词情感倾向</h3>
                        </div>
                        <div class="mala-panel-body">
                            <div id="indexopiniongauge" class="mala-echarts-normal "></div>
                        </div>
                    </div>
                </div>
                <div class="mala-col-md-6">
                    <div class="mala-panel">
                        <div class="mala-panel-heading mala-clearfix">
                            <h3 class="mala-panel-title">情感倾向分析</h3>
                        </div>
                        <div class="mala-panel-body">
                            <div id="analysisemotion" class="mala-echarts-normal "></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="mala-row">
                <div class="mala-col-md-6">
                    <div class="mala-panel">
                        <div class="mala-panel-heading mala-clearfix">
                            <h3 class="mala-panel-title">新闻正面TOP10</h3>
                        </div>
                        <div class="mala-panel-body">
                            <ul class="mala-list">
                                {% for new in newsresultup %}
                                    <li class="mala-list-item">
                                        <span class="mala-list-time mala-fr">{{ new.date }}</span>
                                        <span class="mala-list-title"><a href="">[极性:{{new.opiniomn}}]{{ new.title }}</a></span>
                                    </li>
                                {% endfor %}
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="mala-col-md-6">
                    <div class="mala-panel">
                        <div class="mala-panel-heading mala-clearfix">
                            <h3 class="mala-panel-title">新闻负面TOP10</h3>
                        </div>
                        <div class="mala-panel-body">
                            <ul class="mala-list">
                                {% for new in newsresultdown %}
                                    <li class="mala-list-item">
                                        <span class="mala-list-time mala-fr">{{ new.date }}</span>
                                        <span class="mala-list-title"><a href="">[极性:{{new.opiniomn}}]{{ new.title }}</a></span>
                                    </li>
                                {% endfor %}
                            </ul>
                        </div>
                    </div>
                </div>
            </div>

            <div class="mala-row">
                <div class="mala-col-md-6">
                    <div class="mala-panel">
                        <div class="mala-panel-heading mala-clearfix"> <a href="#" class="mala-fr mala-panel-more">更多</a>
                            <h3 class="mala-panel-title">微信正面TOP10</h3>
                        </div>
                        <div class="mala-panel-body">
                            <ul class="mala-list">
                                {% for new in wechatresultup %}
                                    <li class="mala-list-item">
                                        <span class="mala-list-time mala-fr">{{ new.date }}</span>
                                        <span class="mala-list-title"><a href="{{ new.link }}">[极性:{{new.opinion}}]{{ new.title }}</a></span>
                                    </li>
                                {% endfor %}

                            </ul>
                        </div>
                    </div>
                </div>
                <div class="mala-col-md-6">
                    <div class="mala-panel">
                        <div class="mala-panel-heading mala-clearfix">
                            <h3 class="mala-panel-title">微信负面TOP10</h3>
                        </div>
                        <div class="mala-panel-body">
                            <ul class="mala-list">
                                {% for new in wechatresultdown %}
                                    <li class="mala-list-item">
                                        <span class="mala-list-time mala-fr">{{ new.date }}</span>
                                        <span class="mala-list-title"><a href="">[极性:{{new.opinion}}]{{ new.title }}</a></span>
                                    </li>
                                {% endfor %}
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="mala-row">
                <div class="mala-col-md-6">
                    <div class="mala-panel">
                        <div class="mala-panel-heading mala-clearfix">
                            <h3 class="mala-panel-title">微博正面TOP10</h3>
                        </div>
                        <div class="mala-panel-body">
                            <ul class="mala-list">
                                {% for new in weiboresultup %}
                                    <li class="mala-list-item">
                                        <span class="mala-list-time">{{ new.date }}</span>
                                        <span><a href="{{ new.link }}">[极性:{{new.operation}}]{{ new.content }}</a></span>
                                    </li>
                                {% endfor %}

                            </ul>
                        </div>
                    </div>
                </div>
                <div class="mala-col-md-6">
                    <div class="mala-panel">
                        <div class="mala-panel-heading mala-clearfix">
                            <h3 class="mala-panel-title">微博负面TOP10</h3>
                        </div>
                        <div class="mala-panel-body">
                            <ul class="mala-list">
                                {% for new in weiboresultdown %}
                                    <li class="mala-list-item">
                                        <span class="mala-list-time">{{ new.date }}</span>
                                        <span><a href="{{ new.link }}">[极性:{{new.operation}}]{{ new.content }}</a></span>
                                    </li>
                                {% endfor %}

                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}
{% block js %}
    {{ super() }}
    <!-- 加载图表 -->
    <script src="{{ url_for('static', filename = 'js/echarts.js') }}"></script>
    <script src="{{ url_for('static', filename = 'js/echarts-sample.js') }}"></script>
    <script type="text/javascript">
        // 路径配置
        require.config({
            paths: {
                echarts: "{{ url_for('static', filename = 'js/') }}"
            }
        });

        // 使用
        require(
            [
                'echarts',
                'echarts/chart/gauge', // 使用柱状图就加载bar模块，按需加载
                'echarts/chart/line',
                'echarts/chart/bar',
                'echarts/chart/wordCloud',
                'echarts/chart/radar'
            ],
            function (ec) {
                fillDerailOpinionLine(ec,'/search/ajax/detail/linechart/{{ keyword }}');
                fillIndexOpinionGauge(ec,"/search/ajax/detail/gauge/{{ keyword }}");
                fillAnalysisEmotion(ec,'/search/ajax/detail/emotion/{{ keyword }}');
            }
        );

    </script>
{% endblock %}